<%- include('../partials/_header') %>
<%- include('../partials/_navbar') %>


<div class="container">
    <h2 class="cart-title">Nákupní košík</h2>

    <div class="row">

        <% if (products) { %>

            <% products.forEach((item) => { %>

                <div class="col s12">
                    <div class="cart-item z-depth-1">
                        <div class="col s3">
                            <img src="<%= item.product.imgPath %>">
                        </div>
                        <div class="col s4">
                            <p class="cart-item-title"><%= item.product.title %></p>
                        </div>
                        <div class="col s2 qty-block">
                            <a href="/obchod/zvysit-mnozstvi/<%= item.product._id %>"><i class="material-icons green-text">arrow_drop_up</i></a>
                            <p class="cart-item-qty"><%= item.qty %> Ks</p>
                            <a href="/obchod/snizit-mnozstvi/<%= item.product._id %>"><i class="material-icons green-text">arrow_drop_down</i></a>
                        </div>
                        <div class="col s2">
                            <p class="cart-item-price"><%= item.price %> Kč</p>
                        </div>
                        <div class="col s1">
                            <a href="/obchod/odstranit-z-kosiku/<%= item.product._id %>" class=""><i class="material-icons cart-item-delete red-text">close</i></a>
                        </div>
                    </div>
                </div>
            <% }) %>

            <div class="col s6">
                <h5>Celková cena: <%= cart.totalPrice %> Kč</h5>
            </div>

        <% } else { %>
            <h2>Prázdný košík</h2>
        <% } %>
       
    </div>
</div>



<%- include('../partials/_footer') %>